body {
  font-family: Inter, sans-serif;
  height: 180px;
  width: 180px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 700;
  text-align: center;
  margin: 20px 2px 30px 2px;
  text-decoration: underline;
}
button {
  background-color: #000000;
  color: #fff;
  font-size: 16px;
  padding: 6px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid black;
  flex-grow: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
}

button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
